<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kunalfarmah.realtimetictactoe">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:isGame="true"
        android:label="Realtime tic tac toe"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.apps.kunalfarmah.realtimetictactoe.EnterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.kunalfarmah.realtimetictactoe.startActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apps.kunalfarmah.realtimetictactoe.MainActivity_optimised"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apps.kunalfarmah.realtimetictactoe.gameover"
            android:screenOrientation="portrait" />
        <activity android:name="com.apps.kunalfarmah.realtimetictactoe.onlineActivity" />
        <activity android:name="com.apps.kunalfarmah.realtimetictactoe.gameover_online"></activity>

    </application>

</manifest>